page-login {

.backbtn
{
  float:left;
}

.btn
{
  height: 50px;
  width: 85%;
  margin: 0 auto;
  border-radius: 40px;
  letter-spacing: 2px;
  font-weight:700;
}

.divclass{
  width:90%;
  margin: 0 auto;
}

.errormsg
{
  text-align:center;
}

p
{
  text-align:center;
}

.ptxt
{
  font-size:100%;
}

.logintxt
{
  text-align:center;
  font-weight:900;
  font-size:100%;
}

}
